<a href="https://colab.research.google.com/github/itsmevishnu/python/blob/master/introducton_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:

df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()
df[['longitude', 'latitude']]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
df['median_income'].mean()

3.883578100000021

In [ ]:
df['population'].std()

1147.852959159525

In [ ]:
df1 = df['median_income'] = df['median_income'].mean()

In [ ]:
df1.head()

AttributeError: ignored

In [ ]:
df1

3.883578100000021