In [3]:
import pandas as pd

In [4]:
animals = ["Elephant", "Dog", "Cow", "Cat", "Tiger"]
pd.Series(animals)

0    Elephant
1         Dog
2         Cow
3         Cat
4       Tiger
dtype: object

In [5]:
numbers = [1,2,3,4,5,6,7,8,9]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
values = [3.14, 1.21, 1.73]
pd.Series(values)

0    3.14
1    1.21
2    1.73
dtype: float64

In [8]:
animals = ["Elephant", "Dog", "Cow", "Cat", "Tiger", None, None]
pd.Series(animals)

0    Elephant
1         Dog
2         Cow
3         Cat
4       Tiger
5        None
6        None
dtype: object

In [10]:
numbers = [1,2,3,4,5,6,7,8,9, None, None]
pd.Series(numbers)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9     NaN
10    NaN
dtype: float64

array = ["Vishnu Jayan", 26, 72.4, 172, None]
pd.Series(array)

In [13]:
import numpy as nm

In [17]:
nm.isnan(nm.nan)

True

In [19]:
nm.nan === nm.nan

SyntaxError: invalid syntax (<ipython-input-19-4583ef8cf16e>, line 1)

In [20]:
1===1

SyntaxError: invalid syntax (<ipython-input-20-f198e53fc8f5>, line 1)

In [21]:
1 == 1

True

In [22]:
1 =="1"

False

In [23]:
"1" == 1

False

In [24]:
"1" == '1'

True

In [25]:
array = {'name':"Vishnu Jayan", 'age':26, 'weight': 72.4, 'height':172, 'smoking':None}
pd.Series(array)

age                  26
height              172
name       Vishnu Jayan
smoking            None
weight             72.4
dtype: object

In [26]:
array = nm.?

SyntaxError: invalid syntax (<ipython-input-26-1c1a12c50702>, line 1)

In [27]:
a = nm.array(array)

In [28]:
a

array({'smoking': None, 'age': 26, 'name': 'Vishnu Jayan', 'weight': 72.4, 'height': 172},
      dtype=object)

In [30]:
a.mean()

TypeError: unsupported operand type(s) for /: 'dict' and 'int'

In [31]:
a = nm.array(numbers)
a.mean()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [32]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9, None, None], dtype=object)

In [33]:
array = [12,45,6,12,35,16,83,21,81,11,78,16,46,]

In [34]:
a = nm.array(array)

In [35]:
a

array([12, 45,  6, 12, 35, 16, 83, 21, 81, 11, 78, 16, 46])

In [36]:
a.max()

83

In [37]:
a.min()

6

In [38]:
a.mean()

35.53846153846154

In [40]:
a.std()

27.567024293571603

In [46]:
values = ["Vishnu Jayan", "Vishak", "Akhil","Leena"]
index = ["CSE", "ME","EEE", "ECE"]
a =pd.Series(values, index=index)

In [47]:
a.iloc[2]

'Akhil'

In [48]:
a[2]

'Akhil'

In [49]:
a[loc]

NameError: name 'loc' is not defined

In [50]:
a.loc["CSE"]

'Vishnu Jayan'

In [52]:
a["CSE"]

'Vishnu Jayan'

In [70]:
numbers = pd.Series(nm.random.randint(0,1000,50000))

numbers.head()

In [72]:
len(numbers)

50000

In [61]:
nm.min(numbers)

0

In [77]:
%%timeit -n 50000
sumn = 0
for i in numbers:
    sumn += i

50000 loops, best of 3: 2.43 ms per loop

In [75]:
    %%timeit -n 500
    sumn = nm.sum(numbers)

500 loops, best of 3: 259 µs per loop

In [78]:
%%timeit -n 50000
sumn = 0
for i in numbers:
    sumn += i

50000 loops, best of 3: 2.42 ms per loop

In [ ]:
+